
body, h1, h2, h3, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #e0f0ff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header h1 a {
    text-decoration: none;
    color: #333;
}


header form {
    width: auto;
    margin: 0 auto;
    display: inline-block;
}


nav {
    background-color: #d0e8ff;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}


form {
    margin: 20px 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}


main {
    padding: 5px;
}

.listOfAllBooks {
    background-color: #e0f0ff;
    padding: 5px;
    margin-bottom: 5px;
}


aside {
    background-color: #d0e8ff;
    padding: 20px;
}

.listOfAllCategories li a {
    text-decoration: none;
    color: #333;
}


footer {
    background-color: #e0f0ff;
    text-align: center;
    padding: 20px;

    width: 100%;
    bottom: 0;
}


@media (max-width: 768px) {
    header, nav, main, aside, footer {
        text-align: center;
    }

    header form {
        width: 100%;
    }
}
#featured-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
}

.listOfAllBooks {
    background-color: #e0f0ff;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    flex: 0 0 15%;
    margin: 0px;
    text-align: center; /
}


@media (max-width: 768px) {
    #featured-books {
        flex-direction: column;
    }

    .listOfAllBooks {
        flex: 0 0 100%;
    }
}

#featured-books {
    opacity: 0;
    transition: opacity 2s;
}
