/* Reset some basic elements */
body, h1, h2, h3, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background-color: #e0f0ff;
    padding: 10px; /* Reduced padding */
    text-align: center;
}

header h1 {
    margin-bottom: 10px; /* Reduced margin */
}

header h1 a {
    text-decoration: none;
    color: #333;
}

/* Form in header - constrain its width */
header form {
    width: auto; /* Adjust width as needed */
    margin: 0 auto; /* Center the form */
    display: inline-block; /* Keep form inline */
}

/* Navigation bar styles */
nav {
    background-color: #d0e8ff;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

/* Form styles */
form {
    margin: 20px 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

/* Main content styles */
main {
    padding: 5px;
}

#featured-books {
    margin-top: 5px;
}

.listOfAllBooks {
    background-color: #e0f0ff;
    padding: 5px;
    margin-bottom: 5px;
}

/* Sidebar styles */
aside {
    background-color: #d0e8ff;
    padding: 20px;
}

.listOfAllCategories li a {
    text-decoration: none;
    color: #333;
}

/* Footer styles */
footer {
    background-color: #e0f0ff;
    text-align: center;
    padding: 20px;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    header, nav, main, aside, footer {
        text-align: center;
    }

    header form {
        width: 100%;
    }
}
#featured-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusts spacing between books */
    margin-top: 5px;
}

.listOfAllBooks {
    background-color: #e0f0ff;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd; /* Optional border for better visibility */
    flex: 0 0 30%; /* Adjust width as needed, and ensures items don't shrink or grow */
    margin: 0px; /* Adds some space around each book */
    text-align: center; /* Center the text inside each book div */
}


@media (max-width: 768px) {
    #featured-books {
        flex-direction: column;
    }

    .listOfAllBooks {
        flex: 0 0 100%; /* Full width on smaller screens */
    }
}