/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* White background */
    color: #333333;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #A17C48; /* Bronze background */
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

/* Navigation Styles */
nav {
    background-color: #E6F7FF; /* Light blue background */
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #A17C48; /* Bronze color for hover */
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], button {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

/* Button Styles */
button {
    background-color: #A17C48; /* Bronze background */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 10px;
}

button:hover {
    background-color: #8F6B3F; /* Darker shade of bronze */
}

/* Main Content Styles */
main {
    padding: 20px;
}

.section-header {
    color: #A17C48; /* Bronze color */
    margin-bottom: 20px;
}

.book, .listOfAllBooks {
    background-color: #E6F7FF; /* Light blue background */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    background-color: #A17C48; /* Bronze background */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin-bottom: 5px;
    }
}
