<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Black Books</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <h1><a href="/">Black Books</a></h1>

    <button type="submit">Register</button>

    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>
</header>

<nav>
    <a href="/">Home</a>
    <a href="categories.html">Categories</a>
    <a href="about.html">About Us</a>
    <a href="contact.html">Contact</a>
</nav>

<main>
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Search for books or authors">
        <button type="submit">Search</button>
    </form>

    <section id="featured-books">
        <h2>Featured Books</h2>
        <div th:each="book : ${listOfAllBooks}" class="listOfAllBooks">
            <h3 th:text="${book.getName()}">Book Title</h3>
            <p th:text="${book.category.getName()}">Category</p>
            <p th:text="${book.numberOfPages} + ' pages'">Pages</p>
        </div>
    </section>
</main>

<aside>
    <h3>Book Categories</h3>
    <ul th:each="category: ${listOfAllCategories}" class="listOfAllCategories">
        <li ><a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.getName()}"></a></li>
    </ul>
</aside>

<footer>
    <p>Contact us: manny.bianco@blackbooks.com</p>
    <p>Black Books Ltd. London</p>
</footer>

</body>
</html>